<section class="pt-32 bg-gray-900 h-screen overflow-auto">
    <div class="flex justify-center items-center">
        <img
        class="h-96 object-cover"
        src="/images/articles-hero.png"
        alt="Article's cover"
        />
    </div>
  <div class="gap-6 items-center py-8 px-4 mx-auto max-w-screen-xl lg:px-6">
    <div class="flex flex-col gap-3 md:gap-5 lg:gap-8">
      <h1
        class="text-4xl md:text-5xl lg:text-6xl w-full font-bruno text-center text-white"
      >
        Article's Title
      </h1>
      <p class="text-gray-300 text-center font-poppins text-lg">
        Description ................................
      </p>
    </div>
  </div>
  <div
    class="gap-6 items-center p-4 mx-auto max-w-screen-xl lg:px-6 grid grid-cols-1"
  >
    <div class="flex flex-col gap-4 justify-between">
      <div class="flex justify-start items-center gap-4">
        <img class="rounded-full w-8" src="/images/logo.png" alt="User photo" />
        <div class="flex flex-col justify-between">
          <p class="text-gray-400 font-poppins text-xs">Posted by</p>
          <p class="text-gray-400 font-poppins text-xs">
            User profile .. Created at
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-8 items-start">
      <div class="flex flex-col gap-4 justify-between">
      </div>
    </div>
  </div>
</section>
